@import "../../styles/base.scss";

.artist-card{
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    background: $c-white;
    border: 1px solid $c-gray--lighter;
    &__info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        p {
            margin: 5px 0;
        }
        &__name{
            font-size: 16px;
            color: $c-black;
        }
        &__fb-url {
            font-size: 14px;
            color: $c-gray;
        }
    }
    &__image {
        border: 1px solid $c-gray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    &__link {
        text-decoration: none;
        &__disabled {
            pointer-events: none;
        }
    }
}